// Home Page Specific CSS

.patterns {
  header {
    h1 {
      @include font-size(1.6);
      font-family: $sans-serif;
      text-transform: uppercase;
      border-bottom: 1px solid $gray-charcoal;
      margin-bottom: 20px;
    }
  }
  .pattern-group {
    margin-bottom: 20px;
  }
}