// Pattern Page Specific CSS

.patterns {
  header {
    h1 {
      @include font-size(1.8);
      font-family: $sans-serif;
      text-transform: uppercase;
      border-bottom: 1px solid $gray-charcoal;
      margin-bottom: 20px;
    }
  }
  .pattern-group {
    margin-bottom: 20px;
    overflow: hidden;
    .pattern-subhead {
      margin-bottom: 10px;
      @include font-size(1.8);
    }
    .icon-wrapper {
      border: 1px solid #000;
      padding: 10px;
      width: 20%;
      float: left;
      position: relative;
      span {
        margin: 0 auto;
      }
      p {
        font-weight: bold;
        text-align: center;
      }
      &.icon-white {
        background-color: $gray-charcoal;
        p {
          color: #fff;
        }
      }
    }
  }
  pre {
    padding: 20px 0;
    @include font-size(1.6);
    margin-bottom: 20px;
  }
}