// Site-wide variables

/* Fonts
--------------------------------------*/

// Typekit - Brandon Grotesque
// Headings, subheadings
$sans-serif: "futura-pt", helvetica, sans-serif;

// Typekit - Utopia
// Body Text
$serif: "adobe-garamond-pro",sans-serif;


/* Colors
--------------------------------------*/

$gray-light: #f2f2f2;
$gray-charcoal: #404040;
$gray-text: #7f7d7e;
$gray-dark: #1d1d1d;
$gold: #b79c57;