<section class="slide-content">
  <button class="close-drawer-button">
    <span class="x"><span>
  </button>
  <div class="slide-content-wrapper">
    <div class="explore-nav-wrapper">
      <nav>
        <ul>
          <li class="tab-nav tab-active" data-toggle="colorado">Colorado
            <ul>
              <li><a href="#breckenridge" class="tab-toggle" data-group="colorado">Breckenridge</a></li>
              <li><a href="#telluride" class="tab-toggle" data-group="colorado">Telluride</a></li>
            </ul>
          </li>
          <li class="tab-nav" data-toggle="california">California
            <ul>
              <li><a href="#santabarbara" class="tab-toggle" data-group="california">Santa Barbara</a></li>
              <li><a href="#">South Lake Tahoe</a></li>
            </ul>
          </li>
          <li>Florida
            <ul>
              <li><a href="#">Emerald Coast</a></li>
            </ul>
          </li>
          <li>Hawaii
            <ul>
              <li><a href="#">Maui</a></li>
            </ul>
          </li>
          <li class="explore-nav-icon explore-nav-travellers">
            <a href="#">Travellers</a>
          </li>
          <li class="explore-nav-icon explore-nav-owners">
            <a href="#">Owners</a>
          </li>
          <li class="explore-nav-icon explore-nav-invitedhome">
            <a href="#">InvitedHome</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="explore-content-wrapper">
      <article>
        <div id="breckenridge" class="tab-pane pane-active">
          <div class="row">
            <div class="col-sm-6">
              <h2>
                Breckenridge Vacation Rentals
              </h2>
              <ul>
                <li><a href="#">Cottages</a></li>
                <li><a href="#">Condos</a></li>
                <li><a href="#">South Walton Beach</a></li>
                <li><a href="#">Rosemary Beach</a></li>
                <li><a href="#">Watercolor Beach</a></li>
                <li><a href="#">Seacreat Beach</a></li>
                <li><a href="#">Seagrove Beach</a></li>
                <li><a href="#">Seaside Beach</a></li>
                <li><a href="#">Blue Mountain Beach</a></li>
                <li><a href="#">Inlet Beach</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <h2>
                Explore the Area
              </h2>
              <ul>
                <li><a href="#">Where to eat</a></li>
                <li><a href="#">What to do</a></li>
                <li><a href="#">Where to stay</a></li>
              </ul>
              <h2>
                Recent Articles
              </h2>
              <ul>
                <li><a href="#">New Restaurantes</a></li>
                <li><a href="#">Beach Shopping</a></li>
                <li><a href="#">Farmers Markets</a></li>
                <li><a href="#">The Summer Tides</a></li>
                <li><a href="#">Beach by Beach</a></li>
                <li><a href="#">30A Deals</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="telluride" class="tab-pane">
          <div class="row">
            <div class="col-sm-6">
              <h2>
                Telluride Vacation Rentals
              </h2>
              <ul>
                <li><a href="#">Cottages</a></li>
                <li><a href="#">Condos</a></li>
                <li><a href="#">South Walton Beach</a></li>
                <li><a href="#">Rosemary Beach</a></li>
                <li><a href="#">Watercolor Beach</a></li>
                <li><a href="#">Seacreat Beach</a></li>
                <li><a href="#">Seagrove Beach</a></li>
                <li><a href="#">Seaside Beach</a></li>
                <li><a href="#">Blue Mountain Beach</a></li>
                <li><a href="#">Inlet Beach</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <h2>
                Explore the Area
              </h2>
              <ul>
                <li><a href="#">Where to eat</a></li>
                <li><a href="#">What to do</a></li>
                <li><a href="#">Where to stay</a></li>
              </ul>
              <h2>
                Recent Articles
              </h2>
              <ul>
                <li><a href="#">New Restaurantes</a></li>
                <li><a href="#">Beach Shopping</a></li>
                <li><a href="#">Farmers Markets</a></li>
                <li><a href="#">The Summer Tides</a></li>
                <li><a href="#">Beach by Beach</a></li>
                <li><a href="#">30A Deals</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="santabarbara" class="tab-pane">
          <div class="row">
            <div class="col-sm-6">
              <h2>
                Santa Barbara Vacation Rentals
              </h2>
              <ul>
                <li><a href="#">Cottages</a></li>
                <li><a href="#">Condos</a></li>
                <li><a href="#">South Walton Beach</a></li>
                <li><a href="#">Rosemary Beach</a></li>
                <li><a href="#">Watercolor Beach</a></li>
                <li><a href="#">Seacreat Beach</a></li>
                <li><a href="#">Seagrove Beach</a></li>
                <li><a href="#">Seaside Beach</a></li>
                <li><a href="#">Blue Mountain Beach</a></li>
                <li><a href="#">Inlet Beach</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <h2>
                Explore the Area
              </h2>
              <ul>
                <li><a href="#">Where to eat</a></li>
                <li><a href="#">What to do</a></li>
                <li><a href="#">Where to stay</a></li>
              </ul>
              <h2>
                Recent Articles
              </h2>
              <ul>
                <li><a href="#">New Restaurantes</a></li>
                <li><a href="#">Beach Shopping</a></li>
                <li><a href="#">Farmers Markets</a></li>
                <li><a href="#">The Summer Tides</a></li>
                <li><a href="#">Beach by Beach</a></li>
                <li><a href="#">30A Deals</a></li>
              </ul>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>