
  <div class="row footer-nav">
    <div class="col-sm-4">
      <h1>
        Travellers
      </h1>
      <ul>
        <li><a href="#">123 bookings</a></li>
        <li><a href="#">Explore</a></li>
        <li><a href="#">Destinations</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h1>
        Owners
      </h1>
      <ul>
        <li><a href="#">Become an InvitedHome homeowner</a></li>
        <li><a href="#">1st timers guide to home rental</a></li>
        <li><a href="#">Owner portal</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h1>
        InvitedHome
      </h1>
      <ul>
        <li><a href="#">The InvitedHome Difference</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Terms &amp; privacy</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="social-copyright">
        <ul class="list-inline">
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-pinterest"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-linkedin-square"></i>
            </a>
          </li>
        </ul>
        <p>
          &copy; InvitedHome Management LLC
        </p>
      </div>
    </div>
  </div>
