<div class="toggle-wrapper">
  <button class="nav-toggle">
    <span class="sr-only">Toggle Nav</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="brand">
  <%= link_to image_tag('logo.svg'), '/' %>
</div>
<div class="booking-nav">
  <%= link_to 'Book Now For <strong>$3452</strong>', '#' %>
</div>
<nav class="main-nav" role="navigation">
  <ul>
    <li>
      <a href="#" class="nav-contact">
        Contact
      </a>
    </li>
    <li>
      <a href="#" class="nav-share">
        Share
      </a>
    </li>
    <li>
      <a href="#" class="nav-explore">
        Explore
      </a>
    </li>
  </ul>
</nav>