
<section class="container">
  <div class="row">
    <article class="col-md-9">
      <h1 class="span12">dj4 Responsive Pattern Portfolio</h1>

      <p>Bacon ipsum dolor sit amet kevin chuck bresaola cow short loin meatloaf fatback pig brisket frankfurter venison beef ribs. Andouille short loin meatball short ribs. Swine beef bresaola tri-tip spare ribs ham hock tongue drumstick shankle. Shankle doner tail kevin bacon short loin ham. Ham hock pastrami ribeye swine. Tri-tip frankfurter turkey beef salami pork turducken bacon prosciutto capicola.</p>

      <p>Biltong turkey tongue fatback doner pastrami sirloin. Capicola pork loin shoulder, brisket swine kevin bresaola short loin pig turducken ham pork chop kielbasa tenderloin. Drumstick leberkas shoulder boudin, tenderloin cow t-bone brisket spare ribs pancetta tongue jerky. Venison flank pork short loin. Doner kielbasa ground round meatloaf. Ribeye hamburger brisket beef ribs prosciutto fatback. Tongue hamburger ham hock beef ribs tail salami venison sausage ball tip andouille rump frankfurter.</p>

      <p>Tongue andouille tenderloin capicola, bacon shoulder ham spare ribs beef brisket. Tri-tip pork loin jowl pork chop spare ribs. Hamburger drumstick pork loin, ball tip bresaola tongue pork tenderloin shoulder short ribs pig beef ribs biltong. Sausage ribeye ham hock rump turducken. Tri-tip pork loin hamburger leberkas, pork chop prosciutto corned beef short loin shank strip steak filet mignon capicola meatloaf. Sirloin rump ball tip short ribs shankle jowl kevin. Filet mignon bresaola kevin, jerky pork chop short loin shoulder meatloaf corned beef frankfurter spare ribs sirloin.</p>

      <p>Ball tip leberkas rump kevin, jerky bacon sausage chicken kielbasa short ribs drumstick swine shank. Jerky strip steak salami ball tip jowl pork loin pancetta bacon ground round turducken meatloaf ham tenderloin capicola beef ribs. T-bone filet mignon tail ball tip, turducken cow bresaola fatback strip steak drumstick meatloaf prosciutto sirloin ham hock tenderloin. Swine meatball turducken, beef venison ball tip filet mignon. Jerky short loin t-bone, biltong beef ribs venison sirloin ground round turducken. Ribeye capicola short loin strip steak drumstick shank.</p>
    </article>
    <aside class="col-md-3">
      <h2>This is sidebar content</h2>

      <p>Tongue andouille tenderloin capicola, bacon shoulder ham spare ribs beef brisket. Tri-tip pork loin jowl pork chop spare ribs. Hamburger drumstick pork loin, ball tip bresaola tongue pork tenderloin shoulder short ribs pig beef ribs biltong.</p>

      <h2>And other stuff too</h2>

      <p>Tongue andouille tenderloin capicola, bacon shoulder ham spare ribs beef brisket. Tri-tip pork loin jowl pork chop spare ribs. Hamburger drumstick pork loin, ball tip bresaola tongue pork tenderloin shoulder short ribs pig beef ribs biltong.</p>
    </aside>
  </div>
</section>
