<section class="patterns">
  <div class="container">
    <header>
      <h1>
        Headers
      </h1>
    </header>

    <h1>
      This Is A Base H1 Tag
    </h1>

    <h2>
      This Is A Base H2 Tag
    </h2>
  </div>
</section>