<section class="patterns">
  <div class="container">
    <div class="pattern-group">
      <header>
        <h1 class="pattern-header">
          Headings
        </h1>
      </header>

      <h1>
        Main Heading
      </h1>

      <h2>
        Secondary Heading
      </h2>
    </div>
    <div class="pattern-group">
      <header>
        <h1 class="pattern-header">
          Paragraphs
        </h1>
      </header>
      <p>
        Donec vel rhoncus nisi. Maecenas condimentum maximus lorem sit amet rutrum. In fermentum imperdiet leo eu posuere. Vestibulum dictum dapibus est, et consectetur dolor tincidunt et. Vivamus eu pretium magna. Praesent placerat gravida justo a ultrices. Vivamus nec dictum odio, at commodo ipsum. Nam malesuada lacinia ipsum. Sed tincidunt pellentesque lectus, a luctus metus lobortis eget. Vivamus mollis, ante vel consectetur fermentum, lectus sem interdum ligula, id eleifend nunc velit blandit nibh.
      </p>
    </div>
  </div>
</section>