<section class="patterns">
  <div class="container">
    <div class="pattern-group">
      <header>
        <h1 class="pattern-header">
          Headings
        </h1>
      </header>

      <h1>
        Main Heading ~ h1
      </h1>

      <h2>
        Secondary Heading ~ h2
      </h2>

      <dl class="header-list header-list-large">
        <dt>
          Before Heading Large
        </dt>
        <dd>
          After Heading Large
        </dd>
      </dl>

      <p>
        SASS: @extend .header-list; @extend .header-list-large;
      </p>

      <% code("html") do %>
        <dl class="header-list header-list-large">
          <dt>
            Before Heading Large
          </dt>
          <dd>
            After Heading Large
          </dd>
        </dl>
      <% end %>

      <dl class="header-list">
        <dt>
          Before Heading
        </dt>
        <dd>
          After Heading
        </dd>
      </dl>

      <p>
        SASS: @extend .header-list;
      </p>

      <% code("html") do %>
        <dl class="header-list">
          <dt>
            Before Heading Large
          </dt>
          <dd>
            After Heading Large
          </dd>
        </dl>
      <% end %>

    </div>
    <div class="pattern-group">
      <header>
        <h1 class="pattern-header">
          Paragraphs
        </h1>
      </header>
      <p>
        Donec vel rhoncus nisi. Maecenas condimentum maximus lorem sit amet rutrum. In fermentum imperdiet leo eu posuere. Vestibulum dictum dapibus est, et consectetur dolor tincidunt et. Vivamus eu pretium magna. Praesent placerat gravida justo a ultrices. Vivamus nec dictum odio, at commodo ipsum. Nam malesuada lacinia ipsum. Sed tincidunt pellentesque lectus, a luctus metus lobortis eget. Vivamus mollis, ante vel consectetur fermentum, lectus sem interdum ligula, id eleifend nunc velit blandit nibh.
      </p>
    </div>
    <div class="pattern-group">
      <header>
        <h1 class="pattern-header">
          Lists
        </h1>
      </header>
      <h2 class="pattern-subhead">
        Standard Details List
      </h2>
      <ul class="details-list">
        <li class="details-people">Sleeps 10</li>
        <li class="details-baths">5.5 Baths</li>
        <li class="details-bedrooms">42 Bedrooms</li>
        <li class="details-size">7000 FT<sup>2</sup></li>
        <li class="details-type">Home</li>
        <li class="details-parking">4</li>
      </ul>
      <% code("html") do %>
        <ul class="details-list">
          <li class="details-people">Sleeps 10</li>
          <li class="details-baths">5.5 Baths</li>
          <li class="details-bedrooms">42 Bedrooms</li>
          <li class="details-size">7000 FT<sup>2</sup></li>
          <li class="details-type">Home</li>
          <li class="details-parking">4</li>
        </ul>
      <% end %>
      <h2 class="pattern-subhead">
        Box List
      </h2>
      <ul class="box-list">
        <li>
          <a href="#">
            Outdoor Grill
          </a>
        </li>
        <li>
          <a href="#">
            Central Heating
          </a>
        </li>
        <li>
          <a href="#">
            Firewood Provided
          </a>
        </li>
        <li>
          <a href="#">
            Free Shuttle
          </a>
        </li>
      </ul>
      <% code("html") do %>
        <ul>
          <li>
            <a href="#">
              Outdoor Grill
            </a>
          </li>
          <li>
            <a href="#">
              Central Heating
            </a>
          </li>
          <li>
            <a href="#">
              Firewood Provided
            </a>
          </li>
          <li>
            <a href="#">
              Free Shuttle
            </a>
          </li>
        </ul>
      <% end %>
      <h2 class="pattern-subhead">
        Property Details Beds-per-room List
      </h2>
      <ul class="details-beds-list">
        <li>
          <ul>
            <li class="bed-king">King</li>
            <li class="bed-king-cali">Cali King</li>
          </ul>
          Master Bedroom
        </li>
        <li>
          <ul>
            <li class="bed-queen">Queen</li>
            <li class="bed-twin">Twin</li>
            <li class="bed-bunk-2beds">Bunks 2 Beds</li>
          </ul>
          Guest Bedroom #2
        </li>
      </ul>
      <% code("html") do %>
        <ul class="details-beds-list">
          <li>
            <ul>
              <li class="bed-king">King</li>
              <li class="bed-king-cali">Cali King</li>
            </ul>
            Master Bedroom
          </li>
          <li>
            <ul>
              <li class="bed-queen">Queen</li>
              <li class="bed-twin">Twin</li>
              <li class="bed-bunk-2beds">Bunks 2 Beds</li>
            </ul>
            Guest Bedroom #2
          </li>
        </ul>
      <% end %>
      <p><strong>All available class:</strong></p>
      <ul>
        <li>.bed-king</li>
        <li>.bed-king-cali</li>
        <li>.bed-sleeper-double</li>
        <li>.bed-sleeper</li>
        <li>.bed-twin-double</li>
        <li>.bed-queen</li>
        <li>.bed-twin</li>
        <li>.bed-bunk-2beds</li>
        <li>.bed-bunk-3beds</li>
        <li>.bed-bunk-4beds</li>
      </ul>
      <h2 class="pattern-subhead">
        Room Amenities List
      </h2>
      <ul class="room-amenities-list">
        <li class="bed-king-cali">
          King
        </li>
        <li class="bed-twin">
          Twin
        </li>
        <li class="amenity-tv">
          TV
        </li>
      </ul>
    </div>
    <div class="pattern-group">
      <header>
        <h1 class="pattern-header">
          Sprites
        </h1>
      </header>
      <span class="icon bed"></span>
    </div>
  </div>
</section>