<section class="hero-section">

  <div class="hero-photo">

    <div class="photo-background">
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="/images/search-hero_large.jpg" media="(min-width: 991px)">
        <source srcset="/images/search-hero_medium.jpg" media="(min-width: 480px)">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="/images/search-hero_small.jpg" alt="">
      </picture>
    </div>

    <div class="hero-description">
      <h1>
        Santa Barbara
      </h1>
      <h2>
        Discover why they call it the American Riviera
      </h2>
      <p>
        This is where the Kennedys might have stayed if they had summered on the West Coast. Located in the prestigious gated community of Sea Meadow in Montecito, this glorious 7000 square foot French Normandy style home sits amidst beautifully landscaped grounds and tropical foliage. We imagine Jack and Bobby playing touch football on the beach, which is located mere steps from the home. Jackie would love the home's beautiful furnishings, fine arts and antiques. And the entire Kennedy clan would welcome the tranquility of this rare beachfront home with 5 bedrooms, 5.5 baths, and lovely ocean, island and coastline views. <a href="#">Explore Santa Barbara</a>
      </p>
    </div>

  </div>

</section>

<section class="scroll-for-more">
  <h1>
    Scroll to view our homes
  </h1>
</section>

<section class="neighborhood-section">

  <header class="neighborhood-title">
    <dl>
      <dt>
        Neighborhood
      </dt>
      <dd>
        Montecito
      </dd>
    </dl>
  </header>

  <article class="search-property">
    <div class="search-property-hero">
      <header>
        <dl>
          <dt>
            Montecito Beach Estate
          </dt>
          <dd>
            A West Coast Camelot
          </dd>
        </dl>
      </header>
      <div class="search-hero-background">
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="/images/property-hero_large.jpg" media="(min-width: 991px)">
          <source srcset="/images/property-hero_medium.jpg" media="(min-width: 480px)">
          <!--[if IE 9]></video><![endif]-->
          <img srcset="/images/property-hero_small.jpg" alt="">
        </picture>
      </div>
    </div>

    <div class="search-property-details">
      <div class="search-rates">
        <h2>
          ~ $1,333
        </h2>
        <ul class="details-list">
          <li class="details-people">Sleeps 10</li>
          <li class="details-baths">5.5 Baths</li>
          <li class="details-size">7000 FT<sup>2</sup></li>
          <li class="details-type">Home</li>
          <li class="details-parking">4</li>
        </ul>
      </div>
      <div class="search-beds">
        <h2>
          4 Bedrooms + 2 Sleeping Areas
        </h2>
        <ul class="search-bed-list">
          <li class="beds-1">1 Bed</li>
          <li class="beds-3">3 Beds</li>
          <li class="beds-2">2 Beds</li>
          <li class="beds-2">2 Beds</li>
          <li class="beds-1">1 Bed</li>
          <li class="beds-4">4 Beds</li>
          <li class="beds-5">5 Beds</li>
        </ul>
      </div>
    </div>

  </article>

  <article class="search-property">
    <div class="search-property-hero">
      <header>
        <dl>
          <dt>
            Montecito Beach Estate
          </dt>
          <dd>
            A West Coast Camelot
          </dd>
        </dl>
      </header>
      <div class="search-hero-background">
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="/images/property-hero_large.jpg" media="(min-width: 991px)">
          <source srcset="/images/property-hero_medium.jpg" media="(min-width: 480px)">
          <!--[if IE 9]></video><![endif]-->
          <img srcset="/images/property-hero_small.jpg" alt="">
        </picture>
      </div>
    </div>

    <div class="search-property-details">
      <div class="search-rates">
        <h2>
          ~ $1,333
        </h2>
        <ul class="details-list">
          <li class="details-people">Sleeps 10</li>
          <li class="details-baths">5.5 Baths</li>
          <li class="details-size">7000 FT<sup>2</sup></li>
          <li class="details-type">Home</li>
          <li class="details-parking">4</li>
        </ul>
      </div>
      <div class="search-beds">
        <h2>
          4 Bedrooms + 2 Sleeping Areas
        </h2>
        <ul class="search-bed-list">
          <li class="beds-1">1 Bed</li>
          <li class="beds-3">3 Beds</li>
          <li class="beds-2">2 Beds</li>
          <li class="beds-2">2 Beds</li>
          <li class="beds-1">1 Bed</li>
          <li class="beds-4">4 Beds</li>
          <li class="beds-5">5 Beds</li>
        </ul>
      </div>
    </div>

  </article>

</section>

<section class="neighborhood-section">

  <header class="neighborhood-title">
    <dl>
      <dt>
        Neighborhood
      </dt>
      <dd>
        Riviera
      </dd>
    </dl>
  </header>

  <article class="search-property">
    <div class="search-property-hero">
      <header>
        <dl>
          <dt>
            Montecito Beach Estate
          </dt>
          <dd>
            A West Coast Camelot
          </dd>
        </dl>
      </header>
      <div class="search-hero-background">
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="/images/property-hero_large.jpg" media="(min-width: 991px)">
          <source srcset="/images/property-hero_medium.jpg" media="(min-width: 480px)">
          <!--[if IE 9]></video><![endif]-->
          <img srcset="/images/property-hero_small.jpg" alt="">
        </picture>
      </div>
    </div>

    <div class="search-property-details">
      <div class="search-rates">
        <h2>
          ~ $1,333
        </h2>
        <ul class="details-list">
          <li class="details-people">Sleeps 10</li>
          <li class="details-baths">5.5 Baths</li>
          <li class="details-size">7000 FT<sup>2</sup></li>
          <li class="details-type">Home</li>
          <li class="details-parking">4</li>
        </ul>
      </div>
      <div class="search-beds">
        <h2>
          4 Bedrooms + 2 Sleeping Areas
        </h2>
        <ul class="search-bed-list">
          <li class="beds-1">1 Bed</li>
          <li class="beds-3">3 Beds</li>
          <li class="beds-2">2 Beds</li>
          <li class="beds-2">2 Beds</li>
          <li class="beds-1">1 Bed</li>
          <li class="beds-4">4 Beds</li>
          <li class="beds-5">5 Beds</li>
        </ul>
      </div>
    </div>

  </article>

</section>

<section class="search-teaser">
  <h1>
    Looking For More
  </h1>
  <p>
    Nulla ullamcorper felis ex, at fringilla lacus congue in. Fusce gravida cursus tempus. Vivamus ullamcorper est quis augue suscipit, non fringilla lacus pulvinar. Quisque luctus lobortis molestie. Suspendisse potenti. Aenean ut dolor dui. Nunc nibh nisi, condimentum et vulputate sit amet, posuere eget odio. Vivamus non velit quam. Aliquam sed vehicula metus. Ut sit amet blandit magna.
  </p>
  <a href="#" class="teaser-btn">
    Expand Your Search
  </a>
</section>

<section class="explore-section">
  <header>
    <dl>
      <dt>
        Explore
      </dt>
      <dd>
        Santa Barbara
      </dd>
    </dl>
  </header>

  <div class="standard-grid">

    <div class="cell-3">
      <a href="#">
        <div class="cell-background">
          <%= image_tag('explore-mock.jpg') %>
        </div>
        <div class="cell-content">
          <div class="cell-header">
            <h2>
              Where to Eat
            </h2>
          </div>
        </div>
      </a>
    </div>

    <div class="cell-3">
      <a href="#">
        <div class="cell-background">
          <%= image_tag('explore-powder.jpg') %>
        </div>

        <div class="cell-content">
          <div class="cell-header">
            <h2>
              What to do
            </h2>
          </div>
        </div>
      </a>
    </div>

    <div class="cell-3">
      <a href="#">
        <div class="cell-background">
          <%= image_tag('explore-dining.jpg') %>
        </div>

        <div class="cell-content">
          <div class="cell-header">
            <h2>
              Where to stay
            </h2>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>